* {
    font-family: Arial, sans-serif;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1px;
}

#nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

#nav li {
    float: left;
    display: inline;
    padding-left: 10px;
    padding-right: 10px;
}

#nav a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
}

#nav a:hover {
    background-color: #111;
    color:white;
}

#nav > ul > li > a.active {
    background-color: #f8e701;
    color: #333;
}

#nav > ul > li > a.active:hover {
    background-color: #111;
    color:white;
}

#fun-fact {
    background-color: lightpink;
    color: #333;
    text-align: center;
    padding: 1px;
    clear: both;
    padding-bottom: 12px;
}

#fun-fact ol {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    justify-self: center;
}

.image_float_left_in_section {
    float: left;
    margin-right: 20px;
}

.image_100 {
    width: 100px;
    height: auto;
}

.image_250 {
    width: 250px;
    height: auto;
}
