* {
    font-family: Arial, sans-serif;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1px;
}

#nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

#nav li {
    float: left;
    display: inline;
    padding-left: 10px;
    padding-right: 10px;
}

#nav a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
}

#nav a:hover {
    background-color: #111;
    color:white;
}

#nav > ul > li > a.active {
    background-color: #f8e701;
    color: #333;
}

#nav > ul > li > a.active:hover {
    background-color: #111;
    color:white;
}

#fun-fact {
    background-color: lightpink;
    color: #333;
    text-align: center;
    padding: 1px;
    clear: both;
    padding-bottom: 12px;
}

#fun-fact ol {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    justify-self: center;
}

#fun-fact ul {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    justify-self: center;
}

.image_float_left_in_section {
    float: left;
    margin-right: 20px;
}

.image_100 {
    width: 100px;
    height: auto;
}

.image_250 {
    width: 250px;
    height: auto;
}

#contact_form {
    margin-left: auto;
    margin-right: auto;

    margin-bottom: 10px;
}

form {
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 100%;
    max-width: 500px;
    box-sizing: border-box;
  }
  
label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #333;
}
  
input, textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
    transition: border-color 0.3s ease;
}
  
input:focus, textarea:focus {
    border-color: #6a11cb;
    outline: none;
}
  
textarea {
    resize: none;
    height: 100px;
}
  
input[type="submit"] {
    background: linear-gradient(135deg, #6a11cb, #2575fc);
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    padding: 12px;
    border-radius: 5px;
    transition: background 0.3s ease;
}
  
input[type="submit"]:hover {
    background: linear-gradient(135deg, #2575fc, #6a11cb);
}
